.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.nav--results_signout__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.sign-out,
.sign-out:hover,
.find-friends,
.find-friends:hover {
  transition: 0.2s ease;
  border-radius: 4px;
  padding: 1rem;
  font-size: 1.5rem;
}

.sign-out:hover,
.find-friends:hover {
  background-color: whitesmoke;
  color: #6741d9;

  cursor: pointer;
}

.navigate-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find-friends {
  margin-right: 1rem;
}

.nav--welcome-user {
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 1.25rem;
}
